<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-warn">
        Expleo-Docs
      </h1>
      <br>
      <br>
      <div class="list-menu">
       <br>
      <button class="button is-primary has-text-white is-medium" (click)="Documents()">Update Document </button>
      &nbsp;&nbsp;&nbsp;
      <button class="button is-primary has-text-white is-medium" routerLink="/lists/new-task">+ New Document</button>

      </div>

    </div>

    <div class="task-list-container has-background-light">
     
      <br>
       <br>
       <button class="circle-add-button" (click)="onLogoutButtonClicked()">
       <img src="../../../assets/logout.png" class="has-text-white" >
       </button>
        <br>
        <div class="search">
    <input #searchInput type="search" placeholder="search by name.." class="search-input">
    <button class="button is-success has-text-white" (click)="onSearchButtonClicked(searchInput.value)" (click)="search=true">
   <i class="fa fa-search"></i> </button>
   </div>
        
      <div *ngIf="!show">
       <div *ngIf="!search">
       <br>
       <br>
       <table class="table table-trapped">
       <thead>
       <tr>
       
    <th>Name</th>
     <th>Sender</th>
     <th>Receiver</th>
     <th>Description</th>
     <th>Comments</th>
     <th>Attachment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userData">
    <td>{{data.Record.name}}</td>
    <td>{{data.Record.sender}}</td>
    <td>{{data.Record.receiver}}</td>
    <td>{{data.Record.subject}}</td>
    <td>{{data.Record.msg}}</td>
    <td>{{data.Record.msg}}</td>
    
     <td> <button class="btn btn-primary" (click)="onDownloadButtonClicked()">
       <div class="icon">
        <i class="fas fa-download"></i>
       </div>
     </button> </td>

    <td> <button class="button is-danger" (click)="onDeleteButtonClicked(data.Record.name)">
       <div class="icon">
        <i class="fas fa-trash"></i>
       </div>
     </button> </td>

    <td> <button class="btn btn-primary" (click)="onDocHistoryButtonClicked(data.Record.name)" (click)="show=true">
       <div class="icon">
        <i class="fas fa-history"></i>
       </div>
     </button> </td>

    </tr>
    </tbody>
    </table>
      </div>
      </div>
  

  <div *ngIf="show">
    <div>
       <br>
       <br>
       <table class="table table-trapped">
       <thead>
       <tr>
    <th>TransactionsID</th>
     <th>timestamp</th>
     <th>IsDeleted</th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userData">
    <td>{{data.TxId}}</td>
    <td>{{data.Timestamp}}</td>
    <td>{{data.IsDelete}}</td>
    
    </tr>
    </tbody>
    </table>
      </div>  
      </div>
 
 <div *ngIf="!show">
       <div *ngIf="search">
       <br>
       <br>
       <table class="table table-trapped">
       <thead>
       <tr>
       
    <th>Name</th>
     <th>Sender</th>
     <th>Receiver</th>
     <th>Description</th>
     <th>Comments</th>
     <th>Attachment</th>
    </tr>
    </thead>
    <tbody>

    <td>{{userData.name}}</td>
    <td>{{userData.sender}}</td>
    <td>{{userData.receiver}}</td>
    <td>{{userData.subject}}</td>
    <td>{{userData.msg}}</td>
    <td>{{userData.msg}}</td>
    
     <td> <button class="btn btn-primary" (click)="onDownloadButtonClicked()">
       <div class="icon">
        <i class="fas fa-download"></i>
       </div>
     </button> </td>

    <td> <button class="button is-danger" (click)="onDeleteButtonClicked(data.Record.name)">
       <div class="icon">
        <i class="fas fa-trash"></i>
       </div>
     </button> </td>

    <td> <button class="btn btn-primary" (click)="onDocHistoryButtonClicked(data.Record.name)" (click)="show=true">
       <div class="icon">
        <i class="fas fa-history"></i>
       </div>
     </button> </td>


    </tbody>
    </table>
      </div>
      </div>
  

      </div>
      </div>
      </div>
