<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-warn">
        Expleo-Docs
      </h1>
      <br>
      <br>
      <div class="list-menu">
    
       <img class="sideimg" src="../../../assets/sidebar.jpg" >
       <br>
      &nbsp;&nbsp;&nbsp;
      <div *ngIf="orgname == sales || orgname==Sales">
      <div class="img-overlay">
      <button class="custom button" routerLink="/lists/new-task">+ New Document </button>
</div>
</div>
      &nbsp;&nbsp;&nbsp;
            <div class="img-overlay">
      <button class="custom button" routerLink="/lists/signup"> Archived Documents</button>
      </div>
      </div>

    </div>

    <div class="task-list-container has-background-light">


       <div>
       <img class="user" src="../../../assets/user.png" >
        <div class="useranddep">
           {{username}}
           </div>
           <div class="useranddep1">
            {{orgname}}

          
        </div>
       </div>


      <br>
       <br>

       
       <button class="circle-add-button" (click)="onLogoutButtonClicked()">
       <div class="icon">
        <i class="fas fa-sign out"></i>
       </div>
       </button>
        <br>
      
  <div class="mat-elevation-z8">   
<div class= "search">
<input #searchInput (keyup)= "applyFilter($event.target.value)" placeholder="Filter " (keyup)="searchText=true" >
    <button  class= "clear-btn" (click)="clearSearchField()" (click)="removeSearchField(searchInput.value)" *ngIf="searchText" >x
    </button>
 </div>
<div *ngIf="!searchText">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="id"> 
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let data"> {{data.Record.id}} </td>
  </ng-container>

  <!-- Client Name Column -->
  <ng-container matColumnDef="clientname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
    <td mat-cell *matCellDef="let data"> {{data.Record.name}} </td>
  </ng-container>

  <!-- Project Name Column -->
  <ng-container matColumnDef="projectname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
    <td mat-cell *matCellDef="let data"> {{data.Record.projname}} </td>
  </ng-container>
  
    <!-- Attachment Column -->
  <ng-container matColumnDef="attachment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Attachment </th>
    <td mat-cell *matCellDef="let data"> {{data.Record.attachname}} </td>
  </ng-container>
  
  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let data">
    

    
    <button class="btn btn-primary" (click)="onDownloadButtonClicked(data.Record.attachname)" >
       <div class="icon">
        <i class="fas fa-download"></i>
       </div>
     </button>
     
     <button class="btn btn-primary" routerLink="/lists/edit-task"  (click)="onEditButtonClicked(data.Record.id)" >
       <div class="icon">
        <i class="fas fa-edit"></i>
       </div>
     </button>
     
     
    <h1 *ngIf="orgname == Sales || orgname == sales"> 
   <button mat-raised-button class="custom button" (click)="onArchivedButtonClicked(data.Record.id, closureInput.value)" (click)="archive=true">
       <div class="icon">
        <i class="fas fa-archive"></i>
       </div>
     </button>

    <input #closureInput class= "closure" type="text" placeholder= "write closure reason ">
</h1>


 </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)" ></tr>

</table>
</div>
<div *ngIf="searchText">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="id"> 
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let data"> {{data.Record.id}} </td>
  </ng-container>

  <!-- Client Name Column -->
  <ng-container matColumnDef="clientname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
    <td mat-cell *matCellDef="let data"> {{data.Record.name}} </td>
  </ng-container>

  <!-- Project Name Column -->
  <ng-container matColumnDef="projectname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
    <td mat-cell *matCellDef="let data"> {{data.Record.projname}} </td>
  </ng-container>
  
    <!-- Attachment Column -->
  <ng-container matColumnDef="attachment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Attachment </th>
    <td mat-cell *matCellDef="let data"> {{data.Record.attachname}} </td>
  </ng-container>
  
  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let data">
    

    
    <button class="btn btn-primary" (click)="onDownloadButtonClicked(filterrow.Record.attachname)" >
       <div class="icon">
        <i class="fas fa-download"></i>
       </div>
     </button>
     
     <button class="btn btn-primary" routerLink="/lists/edit-task"  (click)="onEditButtonClicked(filterrow.Record.id)" >
       <div class="icon">
        <i class="fas fa-edit"></i>
       </div>
     </button>
     
     
    <h1 *ngIf="orgname == Sales || orgname == sales"> 
   <button mat-raised-button class="custom button" (click)="onArchivedButtonClicked(filterrow.Record.id, closureInput.value)" (click)="archive=true">
       <div class="icon">
        <i class="fas fa-archive"></i>
       </div>
     </button>

    <input #closureInput class= "closure" type="text" placeholder= "write closure reason ">
</h1>


 </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)" ></tr>

</table>
</div>

</div>


      </div>
      </div>
      </div>
