<div class="centered-content">
  <div class="task-manager-container">
    <div class="task-list-container has-background-light">

    <h1 class="title has-text-warn">
        View Document
      </h1>

  <div class="left-half">
<cdk-virtual-scroll-viewport itemSize="200" class="viewport">

  <mat-card>
    <mat-label> Document ID:  </mat-label> 
   {{userData.id}}
    </mat-card>
    
<br>
  <mat-card>
    <mat-label> Client Name: </mat-label> 
   {{userData.name}}
  </mat-card>
<br>

  <mat-card>
    <mat-label> Project Name: </mat-label> 
   {{userData.projname}}
  </mat-card>
 <br>

  <mat-card>
    <mat-label> Sender: </mat-label> 
   {{userData.sender}}
  </mat-card>
<br>

  <mat-card>
    <mat-label> Receiver: </mat-label> 
   {{userData.receiver}}
  </mat-card>
  <br>
  <mat-card>
    <mat-label> Description: </mat-label> 
   {{userData.subject}}
  </mat-card>
<br>

  <mat-card>
    <mat-label> Comments: </mat-label> 
   {{userData.msg}}
  </mat-card>

<br>
  <mat-card>
    <mat-label> Attachment: </mat-label> 
    
    {{userData.attachname}}
      </mat-card>
 
  </cdk-virtual-scroll-viewport>

  </div>
  <div class="right-half">
  
  <div class="form-group">
        <h2 class="comment-text">Leave A Comment</h2>
                    <br/>
        <form >
            <textarea #commentInput class="form-control" rows="6" cols="35" placeholder="Your Comment"></textarea>
            <br>
                  <br/>
    <button class="button is-medium" (click) = "OnCommentButtonClicked(commentInput.value)" >
      Comment
      </button>
            <br/>
            <hr/>

   <h2  class="comment-text">Comments:</h2> 
   <br/>
    <mat-card>
    <cdk-virtual-scroll-viewport itemSize="200" class="viewport1">
     {{nextActions}}
       </cdk-virtual-scroll-viewport>
     </mat-card>
        </form> 

 
</div>

         &nbsp;&nbsp;&nbsp;
    <div class="back-button">
      <button class="button is-medium" routerLink="/lists" >
      Back
      </button>
    </div>
  </div>
    </div>
</div>
