<div class="centered-content">

  <div class="modal-box">
    <h1 class="title">
      View Document
    </h1>
    
  <mat-card>
    <mat-label> Document ID:  </mat-label> 
   {{userData.id}}
    </mat-card>
    
<br>
  <mat-card>
    <mat-label> Client Name: </mat-label> 
   {{userData.name}}
  </mat-card>
<br>

  <mat-card>
    <mat-label> Project Name: </mat-label> 
   {{userData.projname}}
  </mat-card>
 <br>

  <mat-card>
    <mat-label> Sender: </mat-label> 
   {{userData.sender}}
  </mat-card>
<br>

  <mat-card>
    <mat-label> Receiver: </mat-label> 
   {{userData.receiver}}
  </mat-card>
  <br>
  <mat-card>
    <mat-label> Description: </mat-label> 
   {{userData.subject}}
  </mat-card>
<br>

  <mat-card>
    <mat-label> Comments: </mat-label> 
   {{userData.msg}}
  </mat-card>

<br>
  <mat-card>
    <mat-label> Attachment: </mat-label> 
    
    {{userData.attachname}}
      </mat-card>
      
<br>

 <label>Next Action:</label> <input #actionInput type="text" placeholder= "Enter Next Actions.." (click)="onNextAction(actionInput.value)">         
<br>
<br>

  <mat-card>
    <mat-label> RequiredActions: </mat-label> 
     {{nextActions}}
      </mat-card>      
   
    <div>
    
    </div>

            &nbsp;&nbsp;&nbsp;
    <div class="buttons is-right">

      <button class="button is-medium" routerLink="/lists" >
      Back
      </button>
    </div>


  </div>
  
</div>
