<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit Document
    </h1>
  <div class="emailBox">
   <label for="receiver"></label>To: <br>
   <br>
    <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Please provide receiving department...">
    </div>
    <br>
    <div class="emailBox">  
    <label for="sender"></label>From: <br>
    <br>
    <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Please provide sending department...">
    </div>
    <br>
      <div class="emailBox">
   <label for="subject"></label>Subject: <br>
   <br>
    <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Please provide a brief description...">
    </div>
    <br>
     <div class="messageBox" >
   <label for="message">Body</label><br>
   <br>
      <textarea class="textarea"
         placeholder="Please enter your message here.."></textarea>
    </div>

    <br><br>
    
     <div>
    <input type="file" value="upload" accept="./*" (change)=fileUploader($event)>
    </div>

    
    
    
      <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="updateTask(taskTitleInput.value)">Save</button>
    </div>


  </div>
  
</div>
