<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">

      <h1 class="title has-text-warn">
        Expleo-Docs
      </h1>
      <br>
       <br>
      <div class="list-menu">
       <br>
       <br>

       
       <button class="button is-primary has-text-white is-medium" (click)="Documents()">Show All Documents</button>
      </div>
      
    

 <button class="button is-primary has-text-white is-medium" routerLink="/lists/new-task">+ New Document</button>
    </div>

    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">
            Documents
          </h1>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
              
                <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                  Edit
                </a>
                <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
        

        <!-- Docs Elements -->
        <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
          <div class="task-text">
            <p>{{ task.title }}</p>
          </div>
          <div class="task-buttons">

            <button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

            <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 50px;">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>

          </div>
        </div>

      
      </div>
      <br>
<br>
            <button class="circle-add-button" (click)="onLogoutButtonClicked()">
            <img src="../../../assets/logout.png" class="has-text-white" >
            </button>
            <br>

       <div class="search">
    <input #searchInput type="search" placeholder="search here" class="search-input">
    <button class="button is-success has-text-white" (click)="onSearchButtonClicked(searchInput.value)">
   <i class="fa fa-search"></i> </button>
</div>

           <div >
       <br>
       <br>
       {{documents}}
       

      </div>

      <div *ngIf="!tasks">
      <br>
<br>
<br>
<br>
   <br>
<br>
<br>
<br>
   
        <h3 class="empty-state-text">There are no documents yet !</h3>

      </div>

    </div>

  </div>
</div>
